p {
  margin: 5px;
}

.error {
  color: crimson;
  font-weight: bold;
}

.loading-text {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 30px;
  animation: l1 1s linear infinite alternate;
  margin: 0;
}
.loading-text:before {
  content: "Ładowanie danych...";
}
@keyframes l1 {
  to {
    opacity: 0;
  }
}
